[Desktop Entry]
Categories=SystemClub;Settings;System;X-Kernel-Manager;
Keywords=Configuration;Utility;
Comment=Uses the update-kernel command
Comment[ru_RU]=Использует команду update-kernel
Comment[el]=Χρησιμοποιεί την εντολή update-kernel
Exec=xdg-su -c "cd /opt/kernel-manager ; ./kernel_manager.py"
GenericName[ru_RU]=Обновление ядра Linux
GenericName[el]=Ενημέρωση πυρήνα Linux
GenericName=Linux kernel update
Icon=/opt/kernel-manager/icons/kernel-manager.png
MimeType=
Name=Kernel manager
Name[ru_RU]=Управление ядром системы
Name[el]=Διαχείριση πυρήνα συστήματος
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
