<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

	<icon_name>kernel-manager</icon_name>
	<vendor>The Kernel Manager Project</vendor>
	<vendor_url>https://github.com/Koi-foo/kernel-manager</vendor_url>

	<action id="org.freedesktop.pkexec.kernel-manager">

		<description>Run kernel-manager as root.</description>
		<description xml:lang="ru">Запустить kernel-manager с правами администратора.</description>
		<description xml:lang="el">Εκτελέσει του Διαχειριστεί-Πυρήνα(kernel) ως διαχειρι</description>
		<description xml:lang="hi">रूट के रूप में कर्नेल-प्रबंधक चलाएँ।</description>
		<description xml:lang="zh">以 root 身份启动内核管理器。</description>
        <description xml:lang="zh_TW">以 root 身份運行內核-管理器。</description>

		<message>Root authentication is required to run the kernel-manager as an administrator.</message>
		<message xml:lang="hi">व्यवस्थापक के रूप में कर्नेल-प्रबंधक को चलाने के लिए रूट प्रमाणीकरण आवश्यक है।</message>
		<message xml:lang="el">Απαιτείται έλεγχος ταυτότητας δικαιωμάτων ως διαχειριστείς (root) για την εκτέλεση του Διαχειριστεί-Πυρήνα(kernel).</message>
		<message xml:lang="zh">需要根身份验证才能以管理员身份运行内核-管理器。</message>
		<message xml:lang="ru">Для запуска kernel-manager с правами администратора требуется аутентификация root.</message>
		<message xml:lang="zh_TW">需要根身份驗證才能以管理員身份運行內核-管理器。</message>

		<defaults>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kernel-manager</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>

	</action>

</policyconfig>
