<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

	<icon_name>kernel_manager</icon_name>
	<vendor>The Kernel Manager Project</vendor>
	<vendor_url>https://github.com/Koi-foo/kernel-manager</vendor_url>

	<action id="org.freedesktop.pkexec.kernel-manager">

		<description>Run kernel-manager as root.</description>
		<description xml:lang="ru">Запустить kernel-manager с правами администратора.</description>
		<description xml:lang="el">Εκτελέσει του Διαχειριστεί-Πυρήνα(kernel) ως διαχειρι</description>
		<description xml:lang="hi">रूट के रूप में कर्नेल-प्रबंधक चलाएँ।</description>
		<description xml:lang="zh">以 root 身份运行内核-管理器。</description>
        <description xml:lang="zh_TW">以 root 身份運行內核-管理器。</description>

		<message>Running the kernel-manager as an administrator requires authentication of the privileged user.</message>
		<message xml:lang="hi">व्यवस्थापक के रूप में कर्नेल-प्रबंधक को चलाना विशेषाधिकार प्राप्त उपयोगकर्ता के प्रमाणीकरण की आवश्यकता है।</message>
		<message xml:lang="el">Εκτελώντας τον Διαχειριστή  Πυρήνα (kernel-manager) σαν διαχειριστείς απαιτεί έλεγχος ταυτότητας του προνομιούχου χρήστη</message>
		<message xml:lang="zh">以管理员身份运行内核管理器时，需要对特权用户进行身份验证。</message>
		<message xml:lang="ru">Для запуска kernel-manager с правами администратора требуется аутентификация привилегированного пользователя.</message>
		<message xml:lang="zh_TW">以管理員身份運行內核管理器時，需要對特權用戶進行身份驗證。</message>

		<defaults>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/opt/kernel-manager/kernel_manager.py</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>

	</action>

</policyconfig>
